@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}
  
body{
      margin: 0px;
      margin-bottom: 100px;
      font-family: 'Raleway', sans-serif;
      background-color: #e9e9e9;
}

/* --- en tête --- */

header{
    display: flex;
    position:sticky;
    top: 0;
    height: 100px;
    background:#7FBCCB;
    justify-content: space-between;
    z-index: 6;
}

header #etudiant{   
    align-self: center;
    position:sticky;
    top: 0;
    height: 100%;
    margin-right: 5px;
}

header #logo{   
    align-self: center;
    position:sticky;
    top: 0;
    height: 100%;
    margin-right: 5px;
}

/* --- Menu de navigation --- */

nav{
    align-self: center;
    margin: auto;
    width: 70%;
    height: 100%;
}
  
nav ol{
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: auto;
    align-items: center;
}

nav li{
    list-style: none;
    height: 100%;
    width: 100%;
}
nav button{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    border: none;
    font-size: 2em;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
  
nav button:hover{
    background: #A8D3DB;
}

/* Menu de navigation pour telephone ou quand l'écran est plus petit*/
#click{
    display: none;
}
  
label.menu-btn{
    display:none;
    position: relative;
    left: 60px;
    font-size: 2em;
    top: 30px;
    cursor: pointer;
}
  
#menuderoule{
    background-color: #9fceda;
    font-size: 1.5em;
    display: none;
    position: fixed;
    left:0;
    right:0;
    z-index: 10;
}

#menuderoule ol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    align-items: center;
}

#menuderoule li{
    list-style: none;
    height: 100%;
    width: 100%;
}

#menuderoule button{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    border: none;
    font-size: 2em;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}

#menuderoule button:hover{
      color: #cae9ee;
}

/* --- Style que pour page d'accueil --- */

#formation{
    background-image: linear-gradient( rgba(255, 193, 107,1), rgba(255, 193, 107,0.4)), url("images/image_formation.jpg");
    background-color: #FFC16B;
    background-repeat: no-repeat;
    grid-row: 2 / 4 ;
    grid-column: 1;
}

#accompagnement{
    background-image: linear-gradient(rgba(168, 211, 219,1), rgba(168, 211, 219,0.6)),url("images/image_accompagnement_etu.jpeg");   
    background-color: #A8D3DB;
    grid-row: 2 ;
    grid-column: 2 / 4;
}

#inscription{
    background-image: linear-gradient(rgba(168, 211, 219,1), rgba(168, 211, 219,0.6)),url("images/image_inscription.jpg");
    background-color: #A8D3DB;
    grid-row: 3 ;
    grid-column: 2;
}

#image{
    background-image: linear-gradient(rgba(255, 193, 107,0.4), rgba(255, 193, 107,0.4)),url("images/image_seule.jpg");
    background-color: #FFC16B;
    grid-row: 3 ;
    grid-column: 3;
}

#corps{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    padding-bottom: 200px;
    margin: auto 10% ;
}

#intro{   
    font-size: 2em;
    padding: 5%;
    grid-row: 1 ;
    grid-column: 1 / 4;
    text-align: justify;
}

#intro h1{
    text-align: center;
    font-size: 2.5em;
}

#formation, #accompagnement, #inscription, #image{
    margin: 1em;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100%;
    overflow: hidden;
    background-size: cover;
}

#corps a{
    text-decoration: none;
    color: black;
}

#corps h2{
    max-width: 50%;
    padding-left: 5%;
    font-size: 4em;
}

/* Pour la carte */

#carte-interactif{
    width: 80%;
    margin: auto 10% ;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row: 4;
    grid-column: 1/4;
    border-top: 2px solid black;
    padding-top: 6%;
    margin-top: 6%;
}
.plan{
    grid-column: 2;
    grid-row: 1/5 ;
    width: 100%;
    height: 100%;
    max-width: 800px;
    min-height: 500px;
    background-size: auto 100%  ;
    background-repeat: no-repeat;
    background-position: center;
}
#plan{
    background-image: url("images/plan-iut-doua.png");
}
#plantram{
    background-image: url("images/tram-iut-doua.png");
    display: none;
}
#planvelo{
    background-image: url("images/vélo-iut-doua.png");
    display: none;
}
#planresto{
    background-image: url("images/resto-iut-doua.png");
    display: none;
}
#planbiblio{
    background-image: url("images/biblio-iut-doua.png");
    display: none;
}

#tram:checked + .plan{
    display: block;
    z-index: 2;
}
#velo:checked + .plan{
    display: block;
    z-index: 3;
}
#resto:checked + .plan{
    display: block;
    z-index: 4;
}
#biblio:checked + .plan{
    display: block;
    z-index: 1;
}
.selecteur{
    display: none;
}
.plan[id="plantram"] + label, .plan[id="planbiblio"] + label{
  padding-top: 30%;
  padding-bottom: 30%;
}

.plan[id="planvelo"] + label, .plan[id="planresto"] + label{
  padding-top: 15%;
  padding-bottom: 15%;
}

.selecteur ~ label{
    background-color: red;
    background: linear-gradient(90deg, rgba(255,193,107,1) 0%, rgba(255,193,107,1) 25%, rgba(62,249,100,1) 75%, rgba(62,249,100,1) 100%);
    background-size: 400%;
    background-position: left;
    margin: 10%;
    transition: 0.5s;
    border-radius: 5% ;
    text-align: center;
    overflow: hidden;

}
.selecteur:checked +.plan + label{
    background-position: right;
    border-radius: 25% ;
   
}


/* --- style formation, vie étudiante --- */

#titre{
    margin: 45px;
    margin-bottom: 10px;
    font-size: 4em;
    padding-right: 50%;
}

#explication{
    margin-left: 45px;
    padding-right: 50%;
    font-size:7mm;
}
.photo1{
    width: 40%;
    height: auto;
    position: absolute;
    top:130px;
    right:0px;
    box-shadow: -20px 20px 1px 1px rgb(255, 176, 65);
}
#separateur{
    font-weight:900;
    font-size: 80px;
    margin-left: 60px;
    margin-bottom: 2.5em;
    transition: 0.30s ease-in-out;
    cursor:default;
}

#separateur:hover{
  color:rgb(255, 166, 49)
}

div a{
    cursor:pointer;
}

/* texte déroulant */

.accordion {
    color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
    border-radius: 7px;
}
  
.accordion__label,.accordion__content {
    padding: 60px;
    height: auto;
}
  
.accordion__label {
    display: block;
    color: black;
    font-weight:900;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    transition: 0.25s;
}
  
.accordion__label:hover {
    color: white;
    background: rgba(0, 0, 0, 0.1);
    font-size: 3.5em;
}
  
.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.5s;
}/*gere le polygon point et sa rotation*/
  
.accordion__content {
    line-height: 1;
    font-size: 1.5em;
    display: none ;
    cursor: default;
    transition: transform 0.5s;
}
.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
}/*ouverture des textes*/

.accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}/*fais la rotation de polygon point*/

#section1_{
    background-color: #B5E4F0;
}
#section2_{
    background-color: #D9EEF2 ;
}
#section3_{
    background-color: #FFD8A1;
}
#section4_{
    background-color: #FEF9F5;
}
#section-1{
    background-color: #7FBCCB ;
}
#section-2{
    background-color: #A7D3DB;
}
#section-3{
    background-color: #FFC16B;
}


/* --- scrollbar : ---*/

body::-webkit-scrollbar {
    width: 15px; 
}
  
body::-webkit-scrollbar-track {
    background: #EEEEEE; 
    opacity: 0;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 20px; 
    border: 3px solid #EEEEEE;
}

footer {
    background-color: #FFC16B;
    border-top: 5px solid #B5E4F0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 25px;
    position: absolute;
}
footer p:nth-child(2n+1){
    visibility: hidden;
}
p#lien_internet{
    display: flex;
    margin: 5px;
}
#lien_internet img{
    max-height: 50px;
    max-width: 70px;
    padding-right: 15px;
}
footer ul{
    display: flex;
    justify-self: center;
    padding: 0px 20px;
    list-style-type: none;
    padding-right: 150px;
    height: 35px;
}
footer li{
    padding: 5px;
}
footer li:nth-child(2){
    border-left: 2px solid silver;
    border-right: 2px solid silver;
}
ul a {
    color: black;
text-decoration: none;
}
ul a:visited{
    color: black;
}
ul a:hover{
color: #B5E4F0;
}


/* Responsivité et adaptabilité */

@media  screen and (max-width:1854px) {
    #inscription{
      width: 360px;
}
}
  
@media  screen and (max-width:980px) {
    #carte-interactif{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 20px;
        grid-row: 5;
        grid-column: 1/3;
    }
    .plan{
        grid-column: 1 / 9;
        max-height: 50%;
    }
    #intro{ overflow: scroll;}
    header button{display: none;}
    #formation{
        grid-row: 2 ;
        grid-column: 1/3;}
    #accompagnement{
        grid-row: 3 ;
        grid-column: 1/3;}
    #inscription{
        grid-row: 4 ;
        grid-column: 1;}
    #image{
        grid-row: 4 ;
        grid-column: 2;
    }
    #corps{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    }
    #explication {font-size: 1em;
        padding-right: 45px;}
    
    #titre{font-size: 2em;
        padding-right:0;}
    
    .photo1{
        position: relative;
        top : 15px;
        left: 20%;
        width: 60%;
        height: auto;
    }
    #separateur{
        font-size:2.5em;
        margin-top: 100px;}
    
    nav button{display:none;}
    
    label.menu-btn{
        display:block;
        position: fixed;
        z-index: 8;
        left: 90%;
        top: 30px;
        cursor: pointer;
    }
    #menuderoule{
        line-height: 5;
        font-size: 1em;
        display:none;
        cursor: default;
        }
    #click:checked ~ .menua {
        display: block;
    }
    footer {
        padding-top: 5px;
        padding-bottom: 0px;
        color: black;
        width: 100%;
        height: 280px;
        text-align: center;
        position: absolute;
        display: block;
        
    }
    footer p:nth-child(2n+1){
        visibility: visible;
    }
    
    footer ul{
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
        display: block;
    }
    footer li{
        color: #B5E4F0;
    }
    footer p:nth-child(3){
        text-decoration: underline;
    }
    ul a {
        font-size: 1.1em;
        font-weight: bold;
    }
       
    p#lien_internet{
        text-align: center;
        display: block;
    }
}
  
  
